header {
    background-color: $white;
    height: 60px;
    padding: 2rem;
    display: flex;
    align-items: center;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .sistema {
            text-transform: uppercase;
            letter-spacing: .5;
            margin-right: .5rem;
            opacity: .7;
        }
    }
}

.content {
    margin-top: 2rem;
}

.comunicado-sutil {
    background-color: darken($color: $light, $amount: 4);
    border-radius: $border-radius-lg;
    color: lighten($color: $secondary, $amount: 10);
}

.recurso {
    margin-bottom: .5rem;
    transition: all .3s ease;
    &:hover {
        box-shadow: $box-shadow-sm !important;
        margin-left: .2rem;
        margin-right: .2rem;
    }
    .card-body {
        display: flex;
        align-items: center;
        gap: .5rem;
        .info {
            flex-grow: 1;
        }
    }
    .estacao {
        font-size: 1.1rem;
        font-weight: 700;
        margin-bottom: .25rem;
        .quesito {
            font-weight: 600;
            opacity: .6;
            &::before {
                content: '-';
                margin-right: .25rem;
                opacity: .3;
            }
        }
    }
    .ultimaedicao {
        display: flex;
        align-items: center;
        gap: .25rem;
        color: $secondary;
        .hora {
            &::before {
                content: 'às';
                margin-right: .25rem;
            }
        }
        img {
            opacity: .5;
        }
    }
    .actions {
        button {
            margin-left: .5rem;
            padding: 10px;
        }
    }
}

.listaVideos {
    .card-item-video {
        box-shadow: $box-shadow-lg;
        transition: all .3s ease;
        &:hover {
            box-shadow: $box-shadow-sm !important;
            margin-left: .2rem;
            margin-right: .2rem;
        }
        .estacao {
            font-weight: 700;
            .descricao {
                opacity: .6;
                font-weight: 400;
    
                &::before {
                    content: '-';
                    margin: 0 .25rem;
                    opacity: .3;
                }
            }
        }
    }
}
